   /* section (hero) */
.section-hero {
    position: relative;
}

.canted {
    background-color: var(--color-blue);
    max-width: var(--layout-width);
    clip-path: polygon(0 0, 100% 0, 115% 45%, 0 85%);
    margin-bottom: 98px;
    padding: 0 161px 33px 264px;
}

.canted__h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--color-white);
    margin: 0 0 52px 0;
    width: 515px;
}

.canted__market {
    margin: 92px 0 246px;
    width: 334px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}

.laptor {
    position: absolute;
    top: 0;
    right: 160px;
}

@media (max-width:1500px) {

.laptor {
    display: none;
}
}

@media (max-width:1400px) {

.canted {
    clip-path: polygon(0 0, 100% 0, 125% 50%, 0 100%);
    margin-bottom: 60px;
    padding: 0 100px 32px 100px;
    height: 576px;
}

.ad__aitem {
    font-size: 18px;
}
}

@media (max-width:1250px) {

.canted {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    padding: 32px 24px;
    margin-bottom: 32px;
}

.canted__button {
    padding: 12px 18px;
}
}

@media (max-width:1000px) {

.ad {
    margin: 32px 0 48px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 63px;
}
}

@media (max-width:650px) {

.canted {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    padding: 32px 24px 0;
    margin-bottom: 32px;
}

.canted__h1 {
    font-size: 36px;
    width: 328px;
}

.wb {
    width: 163px;
    height: 19px;
}

.wb-img {
    width: 100%;
}

.oz {
    width: 87px;
    height: 19px;
}

.oz-img {
    width: 100%;
}

.yan {
    width: 121px;
    height: 28px;
}

.yan-img {
    width: 100%;
}

.ali {
    width: 123px;
    height: 29px;
}

.ali-img {
    width: 100%;
}

.canted__market {
    justify-content: center;
    gap: 24px;
}
}

/* section (services) */
.services {
    margin: 0 auto 120px;
    max-width: 1392px;
}

/* 1 block - Balance */
.calc_balance {
    gap: 63px;
    padding: 0 0 37.5px 118px;
}

.balance {
    padding-top: 103px;
}

.balance_h2 {
    margin: 0 0 24px;
}

/* 2 block - Report */
.calc_report {
    flex-direction: row-reverse;
    padding: 80px 118px 80px 0;
    gap: 65px;
}

.report {
    padding: 102px 10px 147px 0;
}

.report_h2 {
    margin-bottom: 24px;
}

/* 3 block - Profit */
.calc_profit {
    gap: 65px;
}

.profit {
    padding: 80px 0 207px 118px;
}

.profit_h2 {
    margin-bottom: 29px;
}

.profit_img {
    padding: 45px 69px 41px 0;
}

/* 4 block - Expenses */
.calc_expenses {
    flex-direction: row-reverse;
    gap: 274px;
    padding: 80px 158px 0 0;
    border: none;
}

.expenses_h2 {
    margin: 68px 0 30px 0;
}

.expenses_img {
    display: inline;
    text-align: center;
    position: relative;
}

.indi {
    position: absolute;
    top: 100px;
    left: 190px;
}

@media (max-width:1250px) {

.calc_balance {
    gap: 30px;
    padding: 0 0 0 48px;
}

.calc_report {
    gap: 30px;
    padding: 0 0 0 48px;
}

.calc_profit {
    gap: 30px;
    padding: 0 0 0 48px;
}

.profit {
    padding:0;
}

.profit_img {
    padding: 0;
}

.calc_expenses {
    gap: 30px;
    padding: 0 0 0 48px;
}

.expenses_h2 {
    margin: 250px 0 30px 0;
}

.calc__image {
    text-align: center;
}

.expenses_img {
    width: 100%;
}
}

@media (max-width:1150px) {

.balance {
    padding-top: 0;
    margin-bottom: 48px;
    gap: 32px;
}

.calc_report {
    flex-direction: column-reverse;
    padding: 80px 118px 80px 0;
    gap: 65px;
    margin-bottom: 48px;
    gap: 32px;
    padding: 48px 23px;
}

.report {
    padding: 0 10px 0 0;
}

.calc_profit {
    margin-bottom: 48px;
    gap: 32px;
    padding: 48px 23px;
}

.calc {
    padding: 0;
}

.calc_expenses {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 48px;
    gap: 32px;
    padding: 48px 23px;
}

.calc__image {
    margin: 0 0 32px;
}

.calc__text-h2 {
    font-size: 32px;
    margin: 0 0 24px;
}

.calc {
    padding: 48px 23px;
}

.calc__image {
    text-align: center;
}

.expenses_img {
    text-align: left;
}
}

@media (max-width:750px) {

.img-adapt {
    max-width: 100%;
    max-height: auto;
}

.report_img {
    width: 100%;
}

.profit_img {
    width: 100%;
}

.calc {
    padding: 48px 23px;
}

.expenses_img {
    max-width: 100%;
    max-height: auto;
}
}

/* section (present) */
.present {
    background-color: var(--color-blue);
    padding: 120px 0;
    text-align: center;
    margin-bottom: 120px;
}

.present__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--color-white);
    margin: 0 0 24px;
}

.present__p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-white-80);
    max-width: 1156px;
    margin: 0 auto 40px;
}

.present_button {
    margin-bottom: 40px;
}

.present__accounting {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
}

.accounting-image {
    position: absolute;
   position: relative;
   max-width: 100%;
    max-height: auto;
}

.accounting-half {
    padding: 0;
    border-right: 2px solid var(--color-blue);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 26px;
    left: 30px;
}

.accounting-switch {
    object-fit: contain;
    position: absolute;
    top: 293px;
    left: 573px;
    max-width: 100%;
    max-height: 100%;
}

.comparison {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.exel-list__point::before {
    content: url(../icons/icon-list-exel.svg);
}

.finio-list__point::before {
    content: url(../icons/icon-list-finio.svg);
}

@media (max-width:1400px) {

.accounting-image {
    display: block;
    max-width: 100%;
    max-height: auto;
}

.accounting-half {
    display: block;
    max-width: 100%;
    max-height: auto;
}
}

@media (max-width:1250px) {

.accounting-switch {
    top: 42%;
    left: 47.4%;
}

.present {
    padding: 64px 24px;
}

.present__heading {
    font-size: 36px;
}

.present_button-adaptive {
    padding: 12px 18px;
}
}

@media (max-width:750px) {

.comparison {
    flex-direction: column;
}
}

/* section (mobil) */
.mobil {
    text-align: center;
    margin-bottom: 120px;
}

.mobil__possibil {
    display: flex;
    justify-content: center;
    gap: 78px;
    border-bottom: 1px solid var(--color-grey-8);
    padding-bottom: 40px;
    margin: 0 0 80px;
}

.mobil__possibil-aitem {
    max-width: 380px;
}

.mobil__possibil-aitem h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--color-black);
    margin: 24px 0 22px;
}

.mobil__possibil-aitem p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-grey-50);
}

@media (max-width:1200px) {

.mobil__img {
    overflow: hidden;
}

.mobil {
    padding: 63px 24px;
    margin-bottom: 0;
}

.mobil__possibil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid var(--color-grey-8);
    padding-bottom: 0;
    margin: 0 0 97px;
}
}

/* section (support) */
.banner-16_support {
    max-width: 1392px;
    background-color: var(--color-blue);
    display: flex;
    gap: 74px;
    margin: 0 auto 40px;
    padding: 0 156px 0 95px;
}

.support__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--color-white);
    margin-bottom: 24px;
}

.support__p {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-white-80);
    margin-bottom: 40px;
}

.support__list {
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

@media (max-width: 1450px) {

.banner-16_support {
    flex-direction: column-reverse;
    padding: 64px 23px 0;
    gap: 32px;
    margin-bottom: 48px;
}

.support__img {
    max-width: 100%;
    max-height: 100%;
}
}

/* section (tariff) */

.tariff {
    margin-bottom: 80px;
}

.three-banners {
    display: grid;
    grid-template-columns: repeat(3, 369px);
    justify-content: center;
    gap: 25px;
}

.banner-8_white {
    padding: 93px 40px 48px;
    background-color: var(--color-white);
}

.banner-8_white-sale {
    padding: 48px 40px;
    background-color: var(--color-white);
}

.banner-8_blue-sale {
    padding: 48px 38px 40px 38px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.banner-8__heading_white {
    color: var(--color-white);
}

.banner-8__p_white {
    color: var(--color-white-60);
    margin-bottom: 16px;
}

.box_blue {
    color: var(--color-white);
}

.three-banners__button_blue {
    border-radius: 47px;
    padding: 12px 63px;
    color: var(--color-white);
    background-color: var(--color-blue);
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0 auto;
}

.three-banners__button_blue:hover {
    color: var(--color-white-80);
    background-color: var(--color-blue-hover);
}

.three-banners__button_white {
    border-radius: 47px;
    padding: 12px 63px;
    color: var(--color-blue);
    background-color: var(--color-white);
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}

.three-banners__button_white:hover {
    color: var(--color-blue-hover);
    background-color: var(--color-white-80);
}

.box__line_border-8 {
    display: grid;
    grid-template-columns: 175px 120px;
    padding: 8px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0%;
    border-bottom: 1px solid var(--color-grey-8);
    border-top: 1px solid var(--color-grey-8);
    align-items: center;
}

.box__line_border-16 {
    display: grid;
    grid-template-columns: 175px 120px;
    padding: 16px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0%;
    border-bottom: 1px solid var(--color-grey-8);
    border-top: 1px solid var(--color-grey-8);
    align-items: center;
}

.banner-8_white {
    box-shadow: 0px 0px 32px 0px var(--color-gray-16);

}

.banner-8_white-sale {
    box-shadow: 10px 5px 10px 5px var(--color-gray-16);
}

.banner-8_blue-sale {
    box-shadow: 10px 5px 10px 5px var(--color-gray-16);
}

@media (max-width: 1200px) {

.three-banners {
   grid-template-columns: repeat(auto-fill, 369px);
}
}

@media (max-width: 500px) {

.tariff {
    padding: 0 23px;
}

.three-banners {
   grid-template-columns: repeat(auto-fill, 328px);
}

.three-banners__button_blue {
    padding: 12px 36px;
}

.three-banners__button_white {
    padding: 12px 36px;
}

.banner-8_white {
    padding: 48px 24px;

}

.banner-8_white-sale {
    padding: 48px 24px;
}

.banner-8_blue-sale {
    padding: 48px 24px 40px;
}
}

/* section (review) */
.review {
    text-align: center;
}

.review__img_adaptive {
    display: none;
}

.review__img {
    position: relative;
    display: inline-block;
}

.pointer-left {
    border: none;
    background-color: var(--color-white-80);
    position: absolute;
    padding: 10px 16px 10px 12px;
    top: 235px;
    left: 60px;
    border-radius: 50%;
}

.pointer-left:hover {
    background-color: var(--color-white);
    cursor: pointer;
}

.pointer-right {
    border: none;
    background-color: var(--color-white-80);
    position: absolute;
    padding: 10px 12px 10px 16px;
    top: 235px;
    right: 60px;
    border-radius: 50%;
}

.pointer-right:hover {
    background-color: var(--color-white);
    cursor: pointer;
}
  
@media (max-width: 1250px) {

.review__img {
    display: none;
}

.review__img_adaptive {
    display: block;
}
}